#left , #right {
	overflow: auto;
	padding: 0;
}
#right {
	right: 0;
}
@media(min-width:576px)
{
	#left , #right {
		position: absolute;
		margin-top: 0px;
		top: 0;
		bottom: 0;
	}
}

@media (max-width:576px) {
	.instructions-div,.download-div,.decrease-div,.increase-div,.insert-div,.emailus-div{
		display: inline;
		position: static;
		padding-top: 12px;
	}
	/* #left{
		overflow: hidden !important;
	} */
	#right{
		overflow-x: scroll;
	}
	.float-icons{
		display: block;
		position: -webkit-sticky;
		position: sticky !important;
		top: 15px;
		text-align: center;
		z-index: 2;
	}
}

@media print {
	/* .no-print, .no-print * { display: none !important; } */

	body * {
		visibility: hidden;
	  }
	  #printable, #printable * {
		visibility: visible;
	  }
	  #printable {
		position: absolute;
		left: 0;
		top: 0;
	  }


	/* #left , #right {
		overflow: initial;
		min-height: initial;
		height: initial;
		position: relative;
		margin-top: 0px;
	} */

	/* .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 { float: left; }
	.col-sm-12 { width: 110%; }
	.col-sm-11 { width: 91.66666667%; }
	.col-sm-10 { width: 83.33333333%; }
	.col-sm-9 { width: 75%; }
	.col-sm-8 { width: 66.66666667%; }
	.col-sm-7 { width: 58.33333333%; }
	.col-sm-6 { width: 50%; }
	.col-sm-5 { width: 41.66666667%; }
	.col-sm-4 { width: 33.33333333%; }
	.col-sm-3 { width: 25%; }
	.col-sm-2 { width: 16.66666667%; }
	.col-sm-1 { width: 8.33333333%; } */
}